@charset "UTF-8";

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-SemiBold.woff2") format("woff2"), url("../fonts/Gilroy-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  font-family: "Gilroy";
  font-size: 1.125rem;
  line-height: 1.3333333333;
  font-weight: 400;
  color: #000;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Gilroy";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 77.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  row-gap: 40px;
  position: relative;
}

.form__row {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(50% - 12px);
          flex: 1 1 calc(50% - 12px);
}

.form__row.flex-0 {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
}

.form__label {
  display: block;
}

.form__input,
.form__textarea {
  border-bottom: 1px solid #000000;
  width: 100%;
  padding: 7px 0;
  outline: #fff;
  resize: none;
}

.form__button {
  background: #29DFED;
  border-radius: 8px;
  padding: 14px 60px;
  color: #fff;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.form__button:hover {
  color: #000000;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.45;
  color: #FFFFFF;
  font-weight: 700;
  padding: 14px 87px;
  background-color: #29DFED;
  border-radius: 90px;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

[data-fullscreen] {
  min-height: 100vh;
}

.touch [data-fullscreen] {
  min-height: calc(var(--vh, 1vh) * 100);
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  font-size: 2.75rem;
  line-height: 1.1;
  font-weight: 700;
  color: #FFFFFF;
  position: relative;
  z-index: 1;
}

.page-title {
  font-size: 1.75rem;
  line-height: 1.1428571429;
  font-weight: 700;
  color: #2B2D34;
  position: relative;
  z-index: 1;
  margin-bottom: 1rem;
}

.section {
  position: relative;
  border-radius: 24px;
  margin-bottom: 1.25rem;
}

.section__title {
  font-size: 2rem;
  line-height: 1.375;
  font-weight: 700;
  text-align: center;
  color: #2B2D34;
  margin-bottom: 2.5rem;
}

.page-intro {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 450px;
  padding: 20px 15px 28px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-intro::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(31, 70, 82, 0)), color-stop(100%, #000000), to(#1A3C4B));
  background: -o-linear-gradient(top, rgba(31, 70, 82, 0) 0%, #000000 100%, #1A3C4B 100%);
  background: linear-gradient(180deg, rgba(31, 70, 82, 0) 0%, #000000 100%, #1A3C4B 100%);
  opacity: 0.25;
  border-radius: inherit;
}

.page-intro--about,
.page-intro--servises {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.page-intro--why::after {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(4, 12, 24, 0.2)), to(#040C18));
  background: -o-linear-gradient(top, rgba(4, 12, 24, 0.2) 0%, #040C18 100%);
  background: linear-gradient(180deg, rgba(4, 12, 24, 0.2) 0%, #040C18 100%);
  opacity: 0.35;
}

.page-intro--candidates .page-intro__title,
.page-intro--clients .page-intro__title {
  font-size: 38px;
  margin-bottom: 1.25rem;
}

.page-intro--clients::after {
  opacity: 0.4;
}

.page-intro__title {
  font-size: 42px;
  line-height: 1.1904761905;
  font-weight: 700;
  color: #FFFFFF;
}

.page-intro__inner {
  position: relative;
  z-index: 1;
  text-align: center;
}

.page-intro__inner p {
  color: #FFFFFF;
  font-size: 1.5rem;
  max-width: 1093px;
  margin: 0px auto 35px auto;
}

.page-intro__btn {
  padding: 13px 29px;
  border-radius: 8px;
  gap: 10px;
}

.page-info {
  background: #F1F1F2;
  padding: 40px 20px;
}

.page-info--why {
  margin-bottom: 3.125rem;
}

.page-info--why .page-info__inner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-info--why .page-info__column {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.page-info--why.page-info p {
  max-width: 470px;
}

.page-info--servises {
  margin-bottom: 3.125rem;
}

.page-info p {
  max-width: 746px;
}

.page-info p:not(:last-child) {
  margin-bottom: 1rem;
}

.page-info__column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.page-info__staff {
  background-color: #fff;
  border-radius: 24px;
}

.page-info__gallary {
  max-width: 470px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2px;
}

.page-info__gallary > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 1px);
          flex: 0 0 calc(50% - 1px);
  border-radius: 24px;
}

.page-info__gallary > * img {
  border-radius: 24px;
}

.icon-primary {
  background: #29DFED;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  outline: 2px solid #fff;
  outline-offset: -4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
}

.icon-primary svg {
  width: 20px;
  height: 20px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.social__item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.social__item:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  background-color: #baeef1;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 35px;
  padding: 21px 40px 15px 40px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
}

.header__btn {
  font-weight: 700;
  padding: 17px 67px;
  border-radius: 8px;
  background-color: #29DFED;
  color: #fff;
  white-space: nowrap;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.header__btn:hover {
  color: #000;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
}

.menu__link {
  line-height: 1;
  -webkit-transition: color 0.5s ease 0s;
  -o-transition: color 0.5s ease 0s;
  transition: color 0.5s ease 0s;
  white-space: nowrap;
}

.menu__link:hover {
  color: #29DFED;
}

.icon-menu {
  display: none;
}

.footer {
  background: #F1F1F2;
  padding-top: 74px;
  padding-bottom: 82px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 35px;
}

.footer__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__group h3 {
  font-size: 1.5rem;
  line-height: 1.1666666667;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 13px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.footer__menu-list li:not(:last-child) {
  margin-bottom: 0.875rem;
}

.footer__menu-link {
  font-size: 1rem;
  line-height: 1.125;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.footer__menu-link:hover {
  color: #29DFED;
}

.footer__social {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.intro {
  overflow: hidden;
  height: calc(100vh - 96px);
  padding: 20px 15px 28px 15px;
  border-radius: 24px;
}

.intro::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), color-stop(38.54%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.3)));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 38.54%, rgba(0, 0, 0, 0.3) 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 38.54%, rgba(0, 0, 0, 0.3) 100%);
  border-radius: inherit;
}

.intro__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  border-radius: inherit;
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: 1.7s ease-in-out;
  -o-transition: 1.7s ease-in-out;
  transition: 1.7s ease-in-out;
}

.loaded .intro__bg {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.intro__title {
  opacity: 0;
  -webkit-transform: translate(-100px, 0);
      -ms-transform: translate(-100px, 0);
          transform: translate(-100px, 0);
  -webkit-transition: opacity 2.5s ease-in-out 0.4s, -webkit-transform 1.5s ease-in-out 0.4s;
  transition: opacity 2.5s ease-in-out 0.4s, -webkit-transform 1.5s ease-in-out 0.4s;
  -o-transition: opacity 2.5s ease-in-out 0.4s, transform 1.5s ease-in-out 0.4s;
  transition: opacity 2.5s ease-in-out 0.4s, transform 1.5s ease-in-out 0.4s;
  transition: opacity 2.5s ease-in-out 0.4s, transform 1.5s ease-in-out 0.4s, -webkit-transform 1.5s ease-in-out 0.4s;
}

.loaded .intro__title._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: opacity 2.5s ease-in-out 0.4s, -webkit-transform 1.5s ease-in-out 0.4s;
  transition: opacity 2.5s ease-in-out 0.4s, -webkit-transform 1.5s ease-in-out 0.4s;
  -o-transition: opacity 2.5s ease-in-out 0.4s, transform 1.5s ease-in-out 0.4s;
  transition: opacity 2.5s ease-in-out 0.4s, transform 1.5s ease-in-out 0.4s;
  transition: opacity 2.5s ease-in-out 0.4s, transform 1.5s ease-in-out 0.4s, -webkit-transform 1.5s ease-in-out 0.4s;
}

.intro__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
  height: 100%;
  position: relative;
}

.intro__text {
  font-size: 1.5rem;
  line-height: 1.1666666667;
  color: #FFFFFF;
  max-width: 485px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.pages {
  background: #E9E8EE;
  border-radius: 24px;
  padding: 98px 70px;
}

.pages__item {
  position: relative;
  padding: 30px 20px;
  background-color: #fff;
  border-radius: 12px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  -webkit-transform: translateX(-50px);
      -ms-transform: translateX(-50px);
          transform: translateX(-50px);
  -webkit-transition: opacity 0.5s ease-in-out 0s, -webkit-transform 0.7s ease-in-out 0s;
  transition: opacity 0.5s ease-in-out 0s, -webkit-transform 0.7s ease-in-out 0s;
  -o-transition: opacity 0.5s ease-in-out 0s, transform 0.7s ease-in-out 0s;
  transition: opacity 0.5s ease-in-out 0s, transform 0.7s ease-in-out 0s;
  transition: opacity 0.5s ease-in-out 0s, transform 0.7s ease-in-out 0s, -webkit-transform 0.7s ease-in-out 0s;
}

.loaded .pages__item._watcher-view {
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: opacity 0.5s ease-in-out 0s, -webkit-transform 0.7s ease-in-out 0s;
  transition: opacity 0.5s ease-in-out 0s, -webkit-transform 0.7s ease-in-out 0s;
  -o-transition: opacity 0.5s ease-in-out 0s, transform 0.7s ease-in-out 0s;
  transition: opacity 0.5s ease-in-out 0s, transform 0.7s ease-in-out 0s;
  transition: opacity 0.5s ease-in-out 0s, transform 0.7s ease-in-out 0s, -webkit-transform 0.7s ease-in-out 0s;
}

.loaded .pages__item._watcher-view:first-child {
  -webkit-transition-delay: 0.4s;
       -o-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.loaded .pages__item._watcher-view:nth-child(2) {
  -webkit-transition-delay: 0.7s;
       -o-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

.loaded .pages__item._watcher-view:last-child {
  -webkit-transition-delay: 1.2s;
       -o-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

.item-pages__title {
  font-size: 1.5rem;
  line-height: 1.3333333333;
  font-weight: 700;
  color: #2B2D34;
  margin-bottom: 1.875rem;
}

.item-pages__text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-bottom: 1.625rem;
}

.item-pages__link {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 700;
  color: #2B2D34;
  position: relative;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.item-pages__link:hover {
  -webkit-transform: translateY(-7px);
      -ms-transform: translateY(-7px);
          transform: translateY(-7px);
}

.item-pages__link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: -3px;
  background-color: #29DFED;
}

.item-pages__icon {
  position: absolute;
  top: 20px;
  right: 20px;
  outline: 4px solid #fff;
  outline-offset: -10px;
}

.feedback {
  min-height: 659px;
  height: 100%;
  overflow: hidden;
}

.feedback::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(#000000));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, #000000 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, #000000 100%);
  opacity: 0.35;
  border-radius: 24px;
}

.feedback__img {
  width: 100vmax;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  pointer-events: none;
}

.feedback__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  max-width: 545px;
  text-align: center;
  z-index: 1;
}

.feedback__title {
  color: #fff;
}

.feedback__text {
  line-height: 2;
  margin-bottom: 3.5625rem;
}

.feedback__btn {
  color: #2B2D34;
  background-color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.feedback__btn:hover {
  background-color: #29DFED;
  color: #2B2D34;
}

.team {
  background: #F1F1F2;
  padding-top: 80px;
  padding-bottom: 80px;
}

.team__list {
  opacity: 0;
  -webkit-transform: translateY(200px);
      -ms-transform: translateY(200px);
          transform: translateY(200px);
  -webkit-transition: opacity 0.8s ease-in-out 0s, -webkit-transform 1.2s ease-in-out 0s;
  transition: opacity 0.8s ease-in-out 0s, -webkit-transform 1.2s ease-in-out 0s;
  -o-transition: opacity 0.8s ease-in-out 0s, transform 1.2s ease-in-out 0s;
  transition: opacity 0.8s ease-in-out 0s, transform 1.2s ease-in-out 0s;
  transition: opacity 0.8s ease-in-out 0s, transform 1.2s ease-in-out 0s, -webkit-transform 1.2s ease-in-out 0s;
}

.loaded .team__list._watcher-view {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: opacity 0.8s ease-in-out 0s, -webkit-transform 1.2s ease-in-out 0s;
  transition: opacity 0.8s ease-in-out 0s, -webkit-transform 1.2s ease-in-out 0s;
  -o-transition: opacity 0.8s ease-in-out 0s, transform 1.2s ease-in-out 0s;
  transition: opacity 0.8s ease-in-out 0s, transform 1.2s ease-in-out 0s;
  transition: opacity 0.8s ease-in-out 0s, transform 1.2s ease-in-out 0s, -webkit-transform 1.2s ease-in-out 0s;
}

.item-team__img {
  position: relative;
  padding-bottom: 110%;
  border-radius: 12px;
  margin-bottom: 0.9375rem;
}

.item-team__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}

.item-team__name {
  font-size: 1.5rem;
  line-height: 1.2083333333;
  font-weight: 600;
  position: relative;
  margin-bottom: 1.25rem;
}

.item-team__name::before {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 0;
  width: 55px;
  height: 1.5px;
  background: #29DFED;
}

.reviews {
  background: #E9E8EE;
  padding-top: 40px;
  padding-bottom: 67px;
}

.reviews__inner {
  background-color: #fff;
  border-radius: 12px;
  padding: 30px 10px;
  opacity: 0;
  -webkit-transform: translateX(-100px);
      -ms-transform: translateX(-100px);
          transform: translateX(-100px);
}

.loaded .reviews__inner._watcher-view {
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: opacity 0.8s ease-in-out 0s, -webkit-transform 1.2s ease-in-out 0s;
  transition: opacity 0.8s ease-in-out 0s, -webkit-transform 1.2s ease-in-out 0s;
  -o-transition: opacity 0.8s ease-in-out 0s, transform 1.2s ease-in-out 0s;
  transition: opacity 0.8s ease-in-out 0s, transform 1.2s ease-in-out 0s;
  transition: opacity 0.8s ease-in-out 0s, transform 1.2s ease-in-out 0s, -webkit-transform 1.2s ease-in-out 0s;
}

.reviews__slide {
  text-align: center;
}

.reviews__author {
  font-weight: 700;
  color: #29DFED;
  margin-top: 1.1875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.reviews__author::before {
  content: "";
  width: 15px;
  height: 14px;
  background-image: url("data:image/svg+xml,%3Csvg width=%2715%27 height=%2714%27 viewBox=%270 0 15 14%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M6.5625 8.40004V13.0667C6.5625 13.5823 6.14293 14 5.625 14H0.9375C0.419571 14 0 13.5823 0 13.0667V6.53339C0 3.57475 1.7869 0.787834 4.6875 0.000106658V2.07113C2.9006 2.71238 1.875 4.621 1.875 6.5335V7.46682H5.625C6.14293 7.46682 6.5625 7.88495 6.5625 8.40015V8.40004ZM14.0625 7.46672H10.3125V6.53339C10.3125 4.621 11.3381 2.71235 13.125 2.07102V0C10.2244 0.787701 8.4375 3.57464 8.4375 6.53328V13.0666C8.4375 13.5822 8.85707 13.9999 9.375 13.9999H14.0625C14.5804 13.9999 15 13.5822 15 13.0666V8.39994C15 7.88474 14.5804 7.46661 14.0625 7.46661V7.46672Z%27 fill=%27%2329DFED%27/%3E%3C/svg%3E");
}

.reviews__button {
  border-radius: 50%;
  border: 1px solid #D9D9D9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
}

.reviews__button svg {
  width: 6px;
  height: 12px;
  fill: #2B2D34;
}

.reviews__button.swiper-button-disabled {
  opacity: 0.3;
}

.reviews__button-next {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.contact {
  margin-bottom: 3.75rem;
}

.services__slider {
  position: relative;
}

.services__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: relative;
  border-radius: 24px;
  min-height: 460px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.services__slide::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.65)), to(#000000));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, #000000 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.65) 0%, #000000 100%);
  opacity: 0.5;
  border-radius: 24px;
}

.services__slide-content {
  position: relative;
  z-index: 1;
}

.services__title {
  color: #29DFED;
}

.services__text {
  color: #fff;
  margin-bottom: 3.3125rem;
}

.services__btn {
  position: relative;
  z-index: 2;
}

.services__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0 70px;
  position: absolute;
  bottom: 40px;
  left: 0;
  z-index: 2;
}

.services__button svg {
  fill: #fff;
  width: 15px;
  height: 28px;
}

.services__button.swiper-button-disabled {
  opacity: 0.3;
}

.services__button-next {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.services__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.services__pagination span {
  width: 29px;
  height: 2px;
  background-color: #D9D9D9;
}

.services__pagination span.swiper-pagination-bullet-active {
  background-color: #29DFED;
}

.staff-info__inner {
  padding: 40px 20px;
}

.staff-info__title {
  font-size: 1.3125rem;
  line-height: 1.1428571429;
  color: #2B2D34;
  max-width: 365px;
  margin-bottom: 1.6875rem;
}

.staff-info__list li {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.staff-info__list li span {
  font-weight: 700;
}

.staff-info__icon {
  background: #F1F1F2;
}

.staff-info__img {
  position: relative;
  border-radius: 0 0 24px 24px;
  max-height: 100%;
}

.staff-info__img img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0 0 24px 24px;
}

.page-excly {
  background: #E9E8EE;
  padding: 40px 5px;
  margin-bottom: 3.75rem;
}

.page-excly .text {
  margin-bottom: 1.5625rem;
}

.page-excly .list__item {
  background: #FFFFFF;
  border-radius: 24px;
  padding: 22px 30px;
}

.page-excly .list__item-text {
  font-weight: 600;
}

.service-info__item {
  background: #FFFFFF;
  border-radius: 18px;
  padding: 20px;
  margin-bottom: 1.25rem;
}

.service-info__icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.service-info__title {
  font-weight: 700;
  margin-bottom: 0.625rem;
}

.service-info__text {
  max-width: 642px;
}

.benefits {
  text-align: center;
  background: #F1F1F2;
  padding: 40px 0;
  margin-bottom: 3.75rem;
}

.benefits__text {
  max-width: 704px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.5rem;
}

.benefits__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 30px;
}

.benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.benefits__item-icon {
  outline-offset: -7px;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 29.99875em) {
  .team__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(33% - 12px);
            flex: 0 1 calc(33% - 12px);
  }
}

@media (min-width: 37.5em) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    row-gap: 40px;
  }
}

@media (min-width: 47.99875em) {
  .item-team__img {
    margin-bottom: 1.875rem;
  }

  .reviews__inner {
    padding: 40px;
  }

  .benefits__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33%;
            flex: 0 1 33%;
  }
}

@media (min-width: 61.99875em) {
  .title {
    font-size: 5rem;
  }

  .section__title {
    font-size: 3.625rem;
  }

  .page-intro {
    padding: 40px 25px 58px 25px;
  }

  .no-webp .page-info{
    background-image: url(../img/page-info-bg.png); }

  .page-info {
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 400px;
  }

  .page-info__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 40px;
  }

  .page-info__column-right {
    -ms-flex-preferred-size: 356px;
        flex-basis: 356px;
  }

  .icon-primary {
    width: 60px;
    height: 60px;
    margin-bottom: 1.75rem;
  }

  .icon-primary svg {
    width: 30px;
    height: 30px;
  }

  .intro {
    height: calc(100vh - 129px);
    padding: 40px 25px 58px 25px;
    background-position: center;
  }

  .intro__bg {
    background-position: center;
  }

  .pages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 22px;
  }

  .reviews__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 20px;
  }

  .reviews__slider {
    max-width: 585px;
  }

  .reviews__button {
    width: 60px;
    height: 60px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60px;
            flex: 0 0 60px;
  }

  .reviews__button svg {
    width: 11px;
    height: 21px;
  }

  .staff-info__list li:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .page-excly__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
  }

  .page-excly .list__item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    min-height: 260px;
  }

  .benefits {
    padding: 100px 0;
    margin-bottom: 6.5625rem;
  }
}

@media (min-width: 77.875em) {
  .page-title {
    font-size: 3rem;
    margin-bottom: 1.75rem;
  }

  .section {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 2.5rem;
  }

  .page-intro--candidates .page-intro__title,
  .page-intro--clients .page-intro__title {
    font-size: 4.9375rem;
    margin-bottom: 1.75rem;
  }

  .page-intro__title {
    font-size: 6rem;
  }

  .page-info {
    padding: 70px 35px;
    background-size: 780px;
  }

  .page-info--why {
    background-size: 500px;
    margin-bottom: 6.5625rem;
  }

  .page-info--servises {
    margin-bottom: 6.5625rem;
  }

  .page-info__inner {
    gap: 88px;
  }

  .intro::after {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#000000));
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    opacity: 0.25;
  }

  .pages__item {
    padding: 50px 40px 40px;
  }

  .item-pages__title {
    font-size: 2.25rem;
    margin-bottom: 3.5625rem;
  }

  .item-pages__link {
    font-size: 1.25rem;
  }

  .item-pages__icon {
    top: 40px;
    right: 40px;
    width: 85px;
    height: 85px;
  }

  .item-pages__icon svg {
    width: 40px;
    height: 40px;
  }

  .reviews {
    padding-top: 80px;
    padding-bottom: 127px;
  }

  .reviews__inner {
    padding: 70px 90px;
  }

  .reviews__author {
    margin-top: 1.8125rem;
  }

  .contact {
    margin-bottom: 8.4375rem;
  }

  .services__control {
    top: 50%;
    left: 0;
    bottom: auto;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }

  .services__button svg {
    width: 25px;
    height: 48px;
  }

  .services__pagination {
    position: absolute;
    left: 50%;
    bottom: 35px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .services__pagination span {
    width: 49px;
    height: 4px;
  }

  .staff-info__inner {
    padding-top: 70px;
    padding-left: 55px;
  }

  .staff-info__img {
    -ms-flex-preferred-size: 24.01vw;
        flex-basis: 24.01vw;
  }

  .staff-info__img img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .page-excly {
    padding: 100px 0;
    margin-bottom: 6.5625rem;
  }

  .page-excly .text {
    margin-bottom: 2.9375rem;
  }

  .service-info__item {
    padding: 30px 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
  }

  .benefits__text {
    margin-bottom: 5.625rem;
  }

  .benefits__inner {
    row-gap: 60px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 40em) {
  .page-info__staff {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .staff-info__img {
    border-radius: 24px;
  }

  .staff-info__img img {
    border-radius: 24px;
  }
}

@media (min-width: 90em) {
  .services__slide {
    min-height: 655px;
  }
}

@media (min-width: 100em) {
  .title {
    font-size: 7rem;
  }

  .page-intro {
    padding: 84px 70px 70px;
  }

  .page-info {
    padding: 105px 65px 85px 65px;
  }

  .intro {
    height: calc(100vh - 160px);
    padding: 84px 70px 70px;
  }

  .item-pages__title {
    margin-bottom: 5.4375rem;
  }

  .item-pages__text {
    padding-right: 75px;
  }
}

@media (max-width: 100em) {
  .header {
    padding: 10px 15px 15px;
  }

  .header__btn {
    padding: 10px 30px;
  }

  .pages {
    padding: 70px 40px;
  }
}

@media (max-width: 77.875em) {
  .page-info__column-left {
    margin-bottom: 2.5rem;
  }

  .pages {
    padding: 40px 20px;
  }

  .staff-info__list li span {
    font-size: 1rem;
  }

  .staff-info__img {
    -ms-flex-preferred-size: 340px;
        flex-basis: 340px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

@media (max-width: 61.99875em) {
  body {
    font-size: 0.875rem;
  }

  .btn {
    font-size: 0.875rem;
    padding: 10px 50px;
  }

  .page-info--why .page-info__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .header__logo {
    width: 100px;
    position: relative;
    z-index: 101;
  }

  .header__logo img {
    max-width: 100%;
  }

  .intro__text {
    max-width: 300px;
    font-size: 1.125rem;
  }

  .pages__item {
    margin-bottom: 2.5rem;
  }

  .reviews__control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
    margin-top: 1.875rem;
  }

  .staff-info__list li:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .page-excly .list__item {
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 47.99875em) {
  .touch [data-fullscreen] {
    -webkit-transition: height 0.2s;
    -o-transition: height 0.2s;
    transition: height 0.2s;
  }

  .page-intro__inner p {
    font-size: 0.875rem;
  }

  .page-info--about {
    padding-bottom: 0;
  }

  .page-info__staff {
    margin-left: -20px;
    margin-right: -20px;
  }

  .social {
    margin-bottom: 2.5rem;
  }

  .social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 50%;
    height: 100%;
    padding-top: 116px;
    background: #F1F1F2;
    -webkit-transition: right 0.7s ease 0s;
    -o-transition: right 0.7s ease 0s;
    transition: right 0.7s ease 0s;
    z-index: 100;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu-open .header__menu {
    right: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }

  .menu__link {
    font-size: 1.125rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 101;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .footer__container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .footer__group {
    text-align: center;
  }

  .footer__contacts {
    margin-bottom: 1.25rem;
  }

  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .item-team__name {
    font-size: 1.25rem;
  }

  .staff-info__title {
    font-size: 1.125rem;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 29.99875em) {
  .header__menu {
    width: 100%;
  }

  .team__item:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}

@media (min-width: 47.99875em) and (max-width: 77.875em) {
  .section {
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media (min-width: 61.99875em) and (max-width: 75em) {
  .menu__list {
    gap: 15px;
  }
}

@media (min-width: 47.99875em) and (max-width: 61.99875em) {
  .menu__list {
    gap: 10px;
  }
}

@media (any-hover: hover) {
  .btn:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@media screen {
  .staff-info__icon {
    margin: 0;
  }
}

@media (min-width: 61.99875em){

  .webp .page-info{ background-image: url(../img/page-info-bg.webp); }
}